################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mobile.AutoBuyer/.vs/Mobile.AutoBuyer/v16
